<!DOCTYPE html>
<html>
<head>
  <title>Product Images</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>All available Products</h1>
      </div>
      <% products.forEach((product) => { %>
        <div class="col-sm-12">
          <% if (product.imageUrl && product.imageUrl !== 'N/A') { %>
            <a href="/product/<%= product.id %>">
              <img class="fixed-size" src="<%= product.imageUrl %>" alt="Image for <%= product.name %>">
            </a>
          <% } else { %>
            <img class="fixed-size" src="/images/icons8-no-image-96.png" alt="No image available">
          <% } %>
          <div>
            <h2><%= product.name %></h2>
            <p><strong>Brand:</strong> <%= product.brand %></p>
            <p><strong>Category:</strong> <%= product.category %></p>
            <p><strong>Color:</strong> <%= product.color %></p>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
</body>
</html>
