<!DOCTYPE html>
<html>
<head>
  <title>Product Detail</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .container {
      margin: 20px;
    }
    .single-product-title {
      margin: 10px 0;
    }
    .product-image {
      max-width: 300px; /* Adjust the size of the main product image */
      height: auto;
    }
    .thumbnail-images {
      display: flex;
      gap: 10px;
      justify-content: center;
      margin-top: 20px;
    }
    .thumbnail-images img {
      width: 60px; /* Adjust the size of the thumbnail images */
      height: 60px; /* Adjust the size of the thumbnail images */
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1 class="single-product-title"><%= productInfo.name %></h1>
        <h3 class="single-product-title"><%= productInfo.brand %></h3>
        <img src="<%= productInfo.imageUrl %>" alt="Image of <%= productInfo.name %>" class="product-image" />
        <p>Description: <%= productInfo.description %></p>
        <p>Available Colors:</p>
        <ul>
          <% if (productInfo.color) { %>
            <% productInfo.color.split('; ').forEach(color => { %>
              <li><%= color.split(': ')[1] %></li>
            <% }) %>
          <% } else { %>
            <li>No colors available</li>
          <% } %>
        </ul>
        
        <!-- Media content section -->
        <div class="thumbnail-images">
          <% if (mediaContent && mediaContent.length > 0) { %>
            <% mediaContent.forEach((image, index) => { %>
              <img src="<%= image.url %>" alt="Media Content <%= index + 1 %>">
            <% }) %>
          <% } else { %>
            <p>No additional media content available.</p>
          <% } %>
        </div>

        <a href="/">Back to Products</a>
      </div>
    </div>
  </div>
</body>
</html>
